.game-trailer-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	.game-video-container {
		align-self: center;
		width: 800px;
		max-width: 100%;
		height: 450px;
		margin: 10px 0;
		.game-video {
			width: 100%;
			height: 100%;
		}
	}
}
