.rating-meter {
	position: relative;

	.rating-meter-value {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0;
		font-size: 3vw;
		font-weight: 700;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-name: fadeIn;
}
