.new-game-form-container {
	width: 500px;
}

.add-game-modal-open {
	button {
		margin: 10px 0 0 0;
	}
}

.new-game-form-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	input,
	textarea,
	select {
		padding: 8px;
		margin: 10px 0;
		width: 300px;
		font-size: 14px;
		border-radius: 5px;
		border: 1px solid rgb(185, 185, 185);
		outline: none;
	}

	button {
		background-color: #ff6b6b;
		border-radius: 5px;
		color: white;
		font-size: 14px;
		padding: 8px 15px;
		margin: 15px;
		outline: none;
	}
	p {
		padding-bottom: 10px;
		font-size: 28px;
		font-weight: 200;
	}
	.release-date-select {
		input {
			width: 150px;
		}
		label {
			padding: 5px;
			color: rgb(185, 185, 185);
			font-size: 14px;
		}
	}
}
