@import '../../variables.scss';

.published-reviews,
.no-reviews {
	width: 55%;
	display: flex;
	flex-direction: column;

	.detail-field-label {
		margin-bottom: 10px;
	}

	.reviews-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.review-list-item {
			width: 100%;
			display: flex;
			border-radius: 5px;
			margin: 10px 0;
			&.liked {
				background-color: $turquoise-bg;
				box-shadow: 2px 2px 2px 2px $turquoise;
			}
			&.disliked {
				background-color: $red-bg;
				box-shadow: 2px 2px 2px 2px $red;
			}
			.user-info {
				display: flex;
				flex-direction: column;
				margin: 10px;

				.avatar {
					width: 80px;
					height: 80px;
					border-radius: 5px;
					margin-bottom: 5px;
					background-color: $off-white;
				}

				.username {
					color: $dark-green;
					font-weight: 700;
				}
			}

			.review-details {
				min-height: 100%;
				display: flex;
				flex-direction: column;
				margin: 10px;

				.title {
					color: $dark-green;
					font-weight: 700;
				}

				.like-label {
					font-size: 10px;
					margin: 5px 0;
				}

				.content {
					flex-grow: 1;
				}
				.publish-date {
					font-size: 10px;
					justify-self: flex-end;
					margin-top: 10px;
				}
			}
		}
	}
}
