@import '../../variables.scss';

.main-navbar-container {
	padding: 10px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
	border-bottom: 2px solid rgba(0, 0, 0, 0.08);
	position: sticky;
	top: 0;
	background-color: white;
}

.navbar-content {
	display: flex;
	padding: 0 25px;
	height: 50px;
	justify-content: space-between;
	align-items: center;
}

.navbar-right {
	display: flex;
	align-items: center;
}

.navbar-user-actions {
	display: flex;
}

.navbar-user-info {
	display: flex;
	align-items: center;
	padding: 0 15px;
	font-size: 16px;
	div {
		width: 30px;
		padding: 2px;
		margin-right: 10px;
	}
	&:hover {
		color: $turquoise;
	}
}

.session-button {
	border: none;
	background-color: #ff6b6b;
	/* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); */
	border-radius: 5px;
	color: white;
	font-size: 14px;
	padding: 8px 15px;
	margin: 0 5px;
	outline: none;
}

.session-button:hover {
	cursor: pointer;
}

.navbar-logo {
	display: flex;
	font-size: 22px;
	align-items: center;
}

.fa-gamepad {
	font-size: 28px;
	padding-right: 10px;
	color: #ff6b6b;
}

.nav-console-dropdown {
	padding: 8px;
	font-size: 18px;
	position: relative;
	margin-right: 10px;
}

.dropdown-open {
	background-color: #f4f4f4;
}

.nav-console-dropdown:hover {
	cursor: pointer;
}

.nav-console-dropdown i {
	font-size: 14px;
}

.console-dropdown-list {
	position: absolute;
	width: 200px;
	background-color: #f4f4f4;
	top: 37px;
	right: 0px;
	z-index: 2;
	padding: 15px 0;
}

.console-dropdown-item {
	padding: 2px 15px;
}

.console-dropdown-item:hover {
	background-color: $off-white;
}

.console-dropdown-list li {
	list-style-type: none;
	padding: 5px 10px;
}

.console-dropdown-list ul {
	margin: 0;
}

.console-dropdown-list a {
	color: black;
	text-decoration: none;
	width: 100%;
}

/* .dropdown-console-logo {
  max-width: 40px;
  max-height: 30px;
  padding: 5px 0;
} */
.xbox {
	padding-left: 5px;
	padding-right: 5px;
}

.console-dropdown-item a {
	display: flex;
	align-items: center;
}

.console-dropdown-item i {
	font-size: 20px;
}

.dropdown-modal-close {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}
